FLASK_APP=src/catalog_searcher/app.py
FLASK_DEBUG=False
WORLDCAT_CLIENT_ID=
WORLDCAT_SECRET=
WORLDCAT_API_BASE=https://discovery.api.oclc.org/worldcat-org-ci/search/detailed-bibs
WORLDCAT_BOOKS_ITEM_TYPES=archv,audiobook,book,compfile,encyc,game,image,intmm,jrnl,kit,map,msscr,music,news,object,snd,toy,video,vis,Web
WORLDCAT_ARTICLES_ITEM_TYPES=artchapter
WORLDCAT_ARTICLES_ITEM_SUBTYPES=artchap-artcl,artchap-chptr,artchap-digital,artchap-mss
WORLDCAT_SUBTYPES_URL=subformat=Artchap::artchap_artcl&subformat=Artchap::artchap_chptr&subformat=Artchap::artchap_digital&subformat=Artchap::artchap_mss
WORLDCAT_NO_RESULTS_URL=https://umaryland.on.worldcat.org/discovery
WORLDCAT_MODULE_URL=https://umaryland.on.worldcat.org/search

ALMA_INSTITUTION_CODE=01USMAI_SMCM
ALMA_SRU_URL_TEMPLATE=https://sandbox02-na.alma.exlibrisgroup.com/view/sru{/institutionCode}?version=1.2&operation=searchRetrieve{&recordSchema}{&query}{&maximumRecords}{&startRecord}
PRIMO_SEARCH_URL_TEMPLATE=https://sandbox02-na.primo.exlibrisgroup.com/discovery/search{?vid}{&query}&context=L&lang=en&search_scope=MyInst_and_CI&adaptor=Local+Search+Engine&tab=Everything&offset=0
PRIMO_ITEM_URL_TEMPLATE=https://sandbox02-na.primo.exlibrisgroup.com/discovery/fulldisplay{?docid}{&vid}{&query}&context=L&lang=en&search_scope=MyInst_and_CI&adaptor=Local+Search+Engine&tab=Everything&offset=0

ALMA_API_KEY=
PRIMO_VID=01USMAI_UMCP:UMCP
PRIMO_ITEM_URL_TEMPLATE=https://usmai-umcp.primo.exlibrisgroup.com/discovery/fulldisplay{?docid}{&vid}{&query}&tab=Everything&context=PC&lang=en&adaptor=Primo%20Central&offset=0
PRIMO_BOOK_SEARCH_API_URL_TEMPLATE=https://api-na.hosted.exlibrisgroup.com/primo/v1/search{?vid}{&q}{&offset}{&limit}&tab=Everything&qInclude=facet_rtype,exact,books&pcAvailability=true&lang=eng&sort=rank&getMore=0&conVoc=true&skipDelivery=true&disableSplitFacets=true
PRIMO_BOOK_SEARCH_URL_TEMPLATE=https://usmai-umcp.primo.exlibrisgroup.com/discovery/search{?vid}{&query}&tab=Everything&offset=0&mfacet=rtype,include,books,1
PRIMO_ARTICLE_SEARCH_API_URL_TEMPLATE=https://api-na.hosted.exlibrisgroup.com/primo/v1/search{?vid}{&q}{&offset}{&limit}&tab=Articles&qInclude=facet_rtype,exact,articles&pcAvailability=true&lang=eng&sort=rank&getMore=0&conVoc=true&skipDelivery=true&disableSplitFacets=true
PRIMO_ARTICLE_SEARCH_URL_TEMPLATE=https://usmai-umcp.primo.exlibrisgroup.com/discovery/search{?vid}{&query}&tab=Articles&offset=0&mfacet=rtype,include,articles,1
PRIMO_JOURNAL_SEARCH_API_URL_TEMPLATE=https://api-na.hosted.exlibrisgroup.com/primo/v1/search{?vid}{&q}{&jq}{&offset}{&limit}&tab=jsearch_slot&qInclude=facet_rtype,exact,journals&pcAvailability=true&lang=eng&sort=rank&getMore=0&conVoc=true&skipDelivery=true&disableSplitFacets=true
PRIMO_JOURNAL_SEARCH_URL_TEMPLATE=https://usmai-umcp.primo.exlibrisgroup.com/discovery/jsearch?{?vid}{&query}{&journalsquery}&tab=jsearch_slot&offset=0&mfacet=rtype,include,journals,1
PRIMO_GENERAL_SEARCH_API_URL_TEMPLATE=https://api-na.hosted.exlibrisgroup.com/primo/v1/search{?vid}{&q}{&offset}{&limit}&tab=Everything&qInclude=facet_rtype,exact,books&pcAvailability=true&lang=eng&sort=rank&getMore=0&conVoc=true&skipDelivery=true&disableSplitFacets=true
PRIMO_GENERAL_SEARCH_URL_TEMPLATE=https://usmai-umcp.primo.exlibrisgroup.com/discovery/search{?vid}{&query}&tab=Everything&offset=0&mfacet=rtype,include,books,1
LINK_RESOLVER_TEMPLATE=http://usmai-umcp.alma.exlibrisgroup.com/openurl/01USMAI_UMCP/01USMAI_UMCP:UMCP{?rft_id}{&rft_volume}{&jtitle}{&atitle}